[submodule "modules/training_module"]
	path = modules/training_module
	url = https://github.com/zewebmaster/Training-module.git
[submodule "modules/training_correction"]
	path = modules/training_correction
	url = https://github.com/zewebmaster/Training-correction.git
